version: '3'
services:
      opensupports:
            container_name: opensupports
            build:
                  context: .
                  dockerfile: Dockerfile
            restart: unless-stopped
            ports:
                  -'8080:80'
                  -'443:443'
            depends_on:
                  - opensupports_db
            networks:
                  expose-network:
                  mysql-network:
            volumes:
                  - /PATH/TO/VOLUME:/var/www/html
            labels:
                  #Redirect to https (don t include in other services)
                  - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
                  - "traefik.enable=true"
                  # Set host
                  - "traefik.http.routers.opensupports.rule=Host(`opensupports.defi-lovelace.fr`)"
                  # Set service
                  - "traefik.http.services.opensupports.loadbalancer.server.port=80"
                  - "traefik.http.routers.opensupports.tls.certresolver=le"
                  # Set to the secure endpoint
                  - "traefik.http.routers.opensupports.entrypoints=secure"
                  # Redirect
                  - "traefik.http.routers.opensupports-redir.rule=Host(`opensupports.defi-lovelace.fr`)"
                  - "traefik.http.routers.opensupports-redir.entrypoints=insecure"
                  - "traefik.http.routers.opensupports-redir.middlewares=redirect-to-https"
      opensupports_db:
            container_name: mysql_server
            image: mysql:latest
            networks:
                  mysql-network:
            command: --default-authentication-plugin=mysql_native_password
            volumes:
                  - /PATH/TO/VOLUME:/var/lib/mysql
            restart: always
            environment:
                  MYSQL_ROOT_PASSWORD: root
                  MYSQL_DATABASE: database
                  MYSQL_USER: user
                  MYSQL_PASSWORD: password
            ports:
                  - '3306:3306'
networks:
  expose-network:
    external:
      name: expose-network
  mysql-network:
    driver: bridge
